<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <!--Qui stabilisco il container dove Vue andrà ad operare-->
    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">
                <!--Qui assegno istituisco un ciclo forEach che cicla su ogni elemento
                dell'array slides e returna i, il ciclo crea tanti div quanti
                cicli turna sull'array. Se viene creato un div in un ciclo in cui
                displayedImageIndex è uguale al valore di i in quel ciclo
                a tale div viene data la classe "active", altrimenti è vuota.
                V-show fa sì che solo il div che è stato creato quando la i è uguale
                al valore di displayedImageIndex venga renderizzato.-->
                <div class="item" v-bind:class="(displayedImageIndex === i ? 'active' : '')"
                                    v-show="(displayedImageIndex === i)"
                                    v-for="(element, i) in slides">
                    <!---->
                    <img v-bind:src="element.image"
                            v-bind:alt="element.title" />
                    <!---->
                    <div class="text">
                        <h3>{{element.title}}</h3>
                        <p>{{element.text}}</p>
                    </div>
                </div>

                <div class="thumbs">
                    <!--Qui assegno il funzionamento dei due click, che cambiano
                    di +1 e -1 il valore della key "displayedImageIndex" in JS, ai due
                    bottoni con freccia (se clicco sul pulsante next il 
                    "displayedImageIndex" aumenta di 1 e tutto il resto
                    del DOM, dove viene usata tale key, cambia di conseguenza)-->
                    <div class="prev" @click="onPreviousClick"></div>
                    <div class="next" @click="onNextClick"></div>

                    <!--Qui stabilisco un ciclo forEach che cicla su tutti gli
                    oggetti nell'array slides ricavando un i e un element, ad ogni turn
                    del ciclo i aumenta e stabilisco che se i è uguale a displayedImageIndex 
                    allora la classe del seguente div deve essere 'active', altrimenti
                    la classe deve essere vuota-->
                    <div class="thumb" v-bind:class="(displayedImageIndex === i ? 'active' : '')"
                                        v-for="(element, i) in slides">
                        <!--Qui creo in DOM tanti tag img quanti cicli ha completato il forEach
                        stabilito nel padre e stabilisco che ogni tag img deve avere
                        come valore dell'attributo src il valore della key "image" 
                        dell'oggetto a quel turn del ciclo e faccio la stessa cosa
                        per il valore dell'attributo alt con il valore della
                        key title-->
                        <img v-bind:src="element.image"
                                v-bind:alt="element.title" />
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>